.card-labeled-with-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    border: 1px solid var(--paragraph);
    padding: 10px;

    & .label {
        color: #fff;
    }

    & .icons {
        > *:not(:last-child) {
            margin-right: 10px;
        }
    }
}
