button {
    --clr: var(--form-field-bg);
    --bg: var(--purpal);

    background: var(--bg);
    color: var(--clr);
    padding: 10px 20px;
    border-radius: 7px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;

    &.fixed-right-button {
        position: fixed;
        right: 15px;
        bottom: 15px;
    }

    &.fixed-top-right {
        position: fixed;
        right: 15px;
        top: 15px;
    }
}
